name: Run Python Script

on:
  workflow_dispatch:  # 手動実行できるトリガー

jobs:
  run-python:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install yfinance pandas matplotlib

      - name: Run Python script
        run: |
          python scripts/test.py
